{"openapi":"3.0.0","info":{"version":"1.2.0","title":"Car API Documentation","description":"Welcome to [CarAPIs vehicle API](https:\/\/carapi.app) documentation. The developer friendly Car API.\nStart developing with your vehicle API today — no fees, no signup. CarAPIs free vehicle data-set\nrequires no account. Only pay when you're ready to go live.\n\n**Car API is built for developers**\n\nREST + JSON API fully documented in OpenAPI with HAL+JSON and JSON-LD formats available too. Explore your car data API through Swagger or Redoc.\n\n**Year, Make, Model and Trims**\n\nOver 66,000 vehicles from 1990 to today. Your data is constantly updated.\n\n**Engine, Transmission, and Mileage**\n\nSpecifications for the most important parts of today's (and yesterday's) vehicles.\n\n**Interior and Exterior Color Options**\n\nYep, we've got that too in human-readable text and RGB values.\n\nThe free data-set is limited to 2020 vehicles. To access the full data-set you may\n[signup here](https:\/\/carapi.app\/register).\n\nBrowse the [JSON-LD vocabulary](https:\/\/carapi.app\/api\/vocab) for this API.\n"},"servers":[{"url":"https:\/\/carapi.app"}],"tags":[{"name":"Auth"},{"name":"Years"},{"name":"Makes"},{"name":"Models"},{"name":"Trims"}],"paths":{"\/api\/auth\/login":{"post":{"operationId":"auth:api:post","summary":"JWT Login","description":"CarAPI uses JSON Web Tokens (JWT) to authenticate requests. You can generate a JWT using your API Token and\nAPI Secret in SwaggerUI (this page) with the following steps:\n\n- Click the \"Try Out\" button\n- Enter API Token and API Secret in the JSON payload.\n- Click Execute\n- A JWT will be returned if the credentials are correct\n- Next click the \"Authorize\" button at the top-right of Swagger UI (this page) and paste in the JWT.\n\nYour JWT will now be sent with any request you make in Swagger until you refresh the page.\n\nIn your application code, Postman or cURL, you will need to pass the token in the HTTP Header as:\n\n```\nAuthorization: Bearer {TOKEN_VALUE_HERE}\n```\n\nYou should cache your JWT to avoid having to authenticate on each request. You must check the token's\nexpiration value to determine when you need to generate a new token. Please refer to\n[https:\/\/jwt.io\/](https:\/\/jwt.io\/) to learn more about JSON Web Tokens.\n\nYour email address and password cannot be used to generate a JWT. You must use your API token and secret.\n\nIf you don't yet have API credentials you must first [register](\/register) and then generate a secret.\nUnauthenticated users have limited data access.","tags":["Auth"],"requestBody":{"content":{"application\/json":{"schema":{"required":["api_token","api_secret"],"properties":{"api_token":{"example":"","type":"string"},"api_secret":{"example":"","type":"string"}},"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"","content":{"text\/plain":{"schema":{"type":"string"}}}}}}},"\/api\/bodies":{"get":{"operationId":"makemodeltrimbodies:index:get","summary":"Search vehicle bodies","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"doors\", \"op\": \">=\", \"val\": 4}, {\"field\": \"type\", \"op\": \"in\", \"val\": [\"SUV\",\"Van\"]}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `type`, `doors`, `make_model_trim_id`, `created`, `modified`, `make_id`, and `make_model_id`.","tags":["Bodies"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#bodies","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","type","doors","length","width","seats","height","wheel_base","front_track","rear_track","ground_clearance","cargo_capacity","max_cargo_capacity","curb_weight","gross_weight","max_payload","max_towing_capacity"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"doors","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimBody"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimBody"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimBody"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/engines":{"get":{"operationId":"makemodeltrimengines:index:get","summary":"Search vehicle engines","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"horsepower_hp\", \"op\": \">=\", \"val\": 100}, {\"field\": \"horsepower_hp\", \"op\": \"<=\", \"val\": 300}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `fuel_type`, `engine_type`, `transmission`, `drive_type`, `cam_type`, `valve_timing`, `valves`, `horsepower_hp`, `size`, `cylinders`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Engines"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#engines","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","engine_type","fuel_type","cylinders","size","horsepower_hp","horsepower_rpm","torque_ft_lbs","torque_rpm","valves","valve_timing","cam_type","drive_type","transmission"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"cylinders","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"size","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"horsepower_hp","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valves","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valve_timing","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"cam_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"drive_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"transmission","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"engine_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"fuel_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimEngine"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimEngine"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimEngine"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/exterior-colors":{"get":{"operationId":"makemodeltrimexteriorcolors:index:get","summary":"Search vehicle exterior colors","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"name\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `name`, `rgb`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Colors (Exterior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","name","rgb"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"name","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/interior-colors":{"get":{"operationId":"makemodeltriminteriorcolors:index:get","summary":"Search vehicle interior colors","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"name\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `name`, `rgb`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Colors (Interior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","name","rgb"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"name","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/makes":{"get":{"operationId":"makes:index:get","summary":"Get Makes","description":"Search makes by name and year.","tags":["Makes"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}}],"responses":{"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/Make"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/Make"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/Make"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}}}},"\/api\/mileages":{"get":{"operationId":"makemodeltrimmileages:index:get","summary":"Search vehicle mileages","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"combined_mpg\", \"op\": \">=\", \"val\": 20}, {\"field\": \"combined_mpg\", \"op\": \"<=\", \"val\": 30}]`\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `combined_mpg`, `epa_city_mpg`, `epa_highway_mpg`, `range_city`, `range_highway`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Mileages"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#mileages","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","fuel_tank_capacity","combined_mpg","epa_city_mpg","epa_highway_mpg","range_city","range_highway"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"combined_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_city_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_highway_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_city","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_highway","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimMileage"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimMileage"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrimMileage"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/models":{"get":{"operationId":"makemodels:index:get","summary":"Get Models","description":"Search models by year, make, model, trim or make_id.\n\nTo include the models make in the description request with the query parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"make\", \"op\": \"in\", \"val\": [\"Ford\", \"Acura\"]}, {\"field\": \"year\", \"op\": \">=\", \"val\": 2010}]`\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `make_id`, `created`, and `modified`.","tags":["Models"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_id","name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/trims":{"get":{"operationId":"makemodeltrims:index:get","summary":"Search trims","description":"To include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"year\", \"op\": \">=\", \"val\": 2010}, {\"field\": \"year\", \"op\": \"<=\", \"val\": 2020}]`\n\nAllowed json operators are: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nAllowed json search fields are:\n `year`, `make`, `model`, `trim`, `make_model_id`, `make_model_trim_id`, `created`, `modified`, `bodies.type`, `engines.cam_type`, `engines.cylinders`, `engines.drive_type`, `engines.engine_type`, `engines.fuel_type`, `engines.transmission`, `engines.valve_timing`, `engines.valves`, and `make_id`.","tags":["Trims"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#trims","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_id","year","name","description","msrp","invoice","hash","created","modified"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrim"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}},"application\/ld+json":{"schema":{"properties":{"member":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrim"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Collection"}]}},"application\/hal+json":{"schema":{"properties":{"_embedded":{"items":{"type":"object","allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"},{"$ref":"#\/components\/schemas\/MakeModelTrim"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Collection"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/trims\/{id}":{"get":{"operationId":"makemodeltrims:view:get","summary":"Get vehicle data.","description":"Returns all data associated with the vehicle trim.","tags":["Trims"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"RecordNotFoundException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"make_model":{"properties":{"make":{"allOf":[{"$ref":"#\/components\/schemas\/Make"}],"type":"object","description":""}},"allOf":[{"$ref":"#\/components\/schemas\/MakeModel"}],"type":"object","description":""},"make_model_trim_body":{"allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimBody"}],"type":"object","description":""},"make_model_trim_engine":{"allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimEngine"}],"type":"object","description":"Engine specifications and transmission type"},"make_model_trim_mileage":{"allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimMileage"}],"type":"object","description":"EPA miles per gallon, ranges etc."},"make_model_trim_exterior_colors":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"}]},"type":"array"},"make_model_trim_interior_colors":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrim"}],"type":"object","description":""}},"application\/ld+json":{"schema":{"items":{"type":"object","properties":{"make_model":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]},"make_model_trim_body":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]},"make_model_trim_engine":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]},"make_model_trim_mileage":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]},"make_model_trim_exterior_colors":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"},{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]}},"make_model_trim_interior_colors":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"},{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]}}}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/JsonLd-Item"}]}},"application\/hal+json":{"schema":{"items":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"make_model":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]},"make_model_trim_body":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]},"make_model_trim_engine":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]},"make_model_trim_mileage":{"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]}},"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"},{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]}}}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/HalJson-Item"}]}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/vehicle-attributes":{"get":{"operationId":"vehicleattributes:display:get","summary":"Get Vehicle Attributes","description":"Returns all options for given attribute.","tags":["Vehicle Attributes"],"parameters":[{"in":"query","name":"attribute","description":"The attribute options to be returned","required":false,"schema":{"type":"string","enum":["bodies.type","engines.cam_type","engines.cylinders","engines.drive_type","engines.engine_type","engines.fuel_type","engines.transmission","engines.valve_timing","engines.valves"]}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/VehicleAttribute"}]}}}}}}},"\/api\/vin\/{vin}":{"get":{"operationId":"vindecoder:index:get","summary":"Vin Decoder","description":"Decodes Vehicle Identification Numbers. The result will include a list of specifications in the `specs` property\nand a list of all possible trims matching the VIN in the `trims` property.\n\nYou can use `KNDJ23AU4N7154467` for testing.","tags":["Vin Decoder"],"parameters":[{"in":"path","name":"vin","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"404":{"description":"NotFoundException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"500":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"year":{"example":2020,"type":"integer","format":"year"},"make":{"example":"make (e.g. Toyota)","type":"string"},"model":{"example":"model (e.g. Camry)","type":"string"},"trim":{"example":"trim (e.g. LX)","type":"string"},"specs":{"type":"object"},"trims":{"type":"array"}},"type":"object"}},"application\/ld+json":{"schema":{"properties":{"year":{"example":2020,"type":"integer","format":"year"},"make":{"example":"make (e.g. Toyota)","type":"string"},"model":{"example":"model (e.g. Camry)","type":"string"},"trim":{"example":"trim (e.g. LX)","type":"string"},"specs":{"type":"object"},"trims":{"type":"array"}},"type":"object"}},"application\/hal+json":{"schema":{"properties":{"year":{"example":2020,"type":"integer","format":"year"},"make":{"example":"make (e.g. Toyota)","type":"string"},"model":{"example":"model (e.g. Camry)","type":"string"},"trim":{"example":"trim (e.g. LX)","type":"string"},"specs":{"type":"object"},"trims":{"type":"array"}},"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/years":{"get":{"operationId":"years:index:get","summary":"Get Years List","description":"For complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"make\", \"op\": \"in\", \"val\": [\"Scion\", \"Tesla\"]}]`\n\nAllowed operators are: `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `is null` and `not null`.\n\nAllowed search fields are: `year`, `make`, `model`, `trim`, `make_id`, and `make_model_id`.","tags":["Years"],"parameters":[{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/ld+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}},"application\/hal+json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"200":{"description":"","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/Year"}]}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"Exception":{"properties":{"exception":{"example":"ExceptionName","type":"string"},"code":{"example":500,"type":"integer"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"Internal Error","type":"string"}},"xml":{"name":"response"},"type":"object"},"Make":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"name":{"minLength":1,"maxLength":32,"type":"string"}},"type":"object","description":""},"MakeModel":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_id":{"minLength":1,"type":"integer","format":"int64"},"name":{"minLength":1,"maxLength":64,"type":"string"}},"type":"object","description":""},"MakeModelTrim":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_id":{"minLength":1,"type":"integer","format":"int64"},"year":{"minLength":1,"maxLength":4,"type":"integer","format":"int32"},"name":{"minLength":1,"maxLength":128,"type":"string"},"description":{"minLength":1,"maxLength":256,"type":"string"},"msrp":{"minLength":1,"type":"integer","format":"int64"},"invoice":{"minLength":1,"type":"integer","format":"int64"},"hash":{"minLength":64,"maxLength":64,"type":"string","writeOnly":true},"created":{"minLength":1,"type":"string","format":"date-time","readOnly":true},"modified":{"minLength":1,"type":"string","format":"date-time","readOnly":true}},"type":"object","description":""},"MakeModelTrimBody":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_trim_id":{"minLength":1,"type":"integer","format":"int64"},"type":{"minLength":1,"maxLength":32,"type":"string","enum":["Cargo Van","Convertible","Coupe","Ext Van","Hatchback","Minivan","Passenger Van","Sedan","SUV","Truck (Access Cab)","Truck (Cab Plus)","Truck (Club Cab)","Truck (Crew Cab)","Truck (CrewMax)","Truck (Double Cab)","Truck (Extended Cab)","Truck (King Cab)","Truck (Mega Cab)","Truck (Quad Cab)","Truck (Regular Cab)","Truck (SuperCab)","Truck (SuperCrew)","Truck (Xtracab)","Van","Wagon"]},"doors":{"type":"integer","format":"int32"},"length":{"type":"number","format":"float"},"width":{"type":"number","format":"float"},"seats":{"type":"integer","format":"int32"},"height":{"type":"number","format":"float"},"wheel_base":{"type":"number","format":"float"},"front_track":{"type":"number","format":"float"},"rear_track":{"type":"number","format":"float"},"ground_clearance":{"type":"number","format":"float"},"cargo_capacity":{"type":"number","format":"float"},"max_cargo_capacity":{"type":"number","format":"float"},"curb_weight":{"type":"integer","format":"int64"},"gross_weight":{"type":"integer","format":"int64"},"max_payload":{"type":"integer","format":"int64"},"max_towing_capacity":{"type":"integer","format":"int64"}},"type":"object","description":""},"MakeModelTrimEngine":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_trim_id":{"minLength":1,"type":"integer","format":"int64"},"engine_type":{"maxLength":32,"type":"string","enum":["diesel","electric","electric (fuel cell)","flex-fuel (FFV)","gas","hybrid","mild hybrid","natural gas (CNG)","plug-in hybrid"]},"fuel_type":{"maxLength":64,"type":"string","enum":["diesel fuel","electric","flex-fuel (premium unleaded recommended\/E85)","flex-fuel (premium unleaded required\/E85)","flex-fuel (unleaded\/E85)","flex-fuel (unleaded\/natural gas)","hydrogen","natural gas","premium unleaded (recommended)","premium unleaded (required)","regular unleaded"]},"cylinders":{"maxLength":8,"type":"string","format":"string","enum":["fla","I2","I3","I4","I5","I6","rot","V10","V12","V6","V8","W12","W16","W8"]},"size":{"type":"number","format":"float"},"horsepower_hp":{"type":"integer","format":"int64"},"horsepower_rpm":{"type":"integer","format":"int64"},"torque_ft_lbs":{"type":"integer","format":"int64"},"torque_rpm":{"type":"integer","format":"int64"},"valves":{"type":"integer","format":"int32"},"valve_timing":{"maxLength":32,"type":"string","enum":["Variable"]},"cam_type":{"maxLength":64,"type":"string","enum":["Double overhead cam (DOHC)","Overhead valves (OHV)","Single overhead cam (SOHC)"]},"drive_type":{"maxLength":32,"type":"string","enum":["all wheel drive","four wheel drive","front wheel drive","rear wheel drive"]},"transmission":{"maxLength":64,"type":"string","enum":["1-speed direct drive","10-speed automatic","10-speed shiftable automatic","2-speed","2-speed automated manual","3-speed automatic","4-speed automatic","4-speed manual","4-speed shiftable automatic","5-speed automated manual","5-speed automatic","5-speed manual","5-speed shiftable automatic","6-speed automated manual","6-speed automatic","6-speed manual","6-speed shiftable automatic","7-speed automated manual","7-speed automatic","7-speed manual","7-speed shiftable automatic","8-speed automated manual","8-speed automatic","8-speed shiftable automatic","9-speed automated manual","9-speed automatic","9-speed shiftable automatic","continuously variable-speed automatic","continuously variable-speed shiftable automatic","electrically variable-speed automatic"]}},"type":"object","description":"Engine specifications and transmission type"},"MakeModelTrimExteriorColor":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_trim_id":{"minLength":1,"type":"integer","format":"int64"},"name":{"minLength":1,"maxLength":128,"type":"string"},"rgb":{"maxLength":16,"type":"string"}},"type":"object","description":""},"MakeModelTrimInteriorColor":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_trim_id":{"minLength":1,"type":"integer","format":"int64"},"name":{"minLength":1,"maxLength":128,"type":"string"},"rgb":{"maxLength":16,"type":"string"}},"type":"object","description":""},"MakeModelTrimMileage":{"properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_model_trim_id":{"minLength":1,"type":"integer","format":"int64"},"fuel_tank_capacity":{"type":"number","format":"float"},"combined_mpg":{"type":"integer","format":"int32"},"epa_city_mpg":{"type":"integer","format":"int32"},"epa_highway_mpg":{"type":"integer","format":"int32"},"range_city":{"type":"integer","format":"int32"},"range_highway":{"type":"integer","format":"int32"}},"type":"object","description":"EPA miles per gallon, ranges etc."},"VehicleAttribute":{"items":{"type":"string"},"example":["option a","option b ","option c"],"type":"array"},"Year":{"items":{"type":"integer"},"example":[2022,2021,2020],"type":"array"}}},"x-swagger-bake":{"components":{"parameters":{"paginatorPage":{"name":"page","in":"query","required":false,"schema":{"type":"integer"}},"paginatorLimit":{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}},"paginatorSort":{"name":"sort","in":"query","required":false,"schema":{"type":"string"}},"paginatorDirection":{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc"]}}},"schemas":{"HalJson-Item":{"type":"object","properties":{"links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/entity\/:id"}}}}}}},"HalJson-Collection":{"type":"object","properties":{"links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/collection"}}},"next":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/collection?page=:number"}}},"prev":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/collection?page=:number"}}},"first":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/collection?page=:number"}}},"properties":{"href":{"type":"string","format":"url","example":"\/collection?page=:number"}}},"last":{"type":"object","properties":{"href":{"type":"string","format":"url","example":"\/collection?page=:number"}}}}}},"JsonLd-Item":{"type":"object","properties":{"@id":{"type":"string","format":"url","example":"\/entity\/:id"},"@type":{"type":"string","format":"url","example":"https:\/\/schema.org\/Thing"},"@context":{"type":"string","format":"url","example":"\/context\/Entity"}}},"JsonLd-Collection":{"type":"object","properties":{"@id":{"type":"string","format":"url","example":"\/entity\/:id"},"@type":{"type":"string","format":"url","example":"https:\/\/schema.org\/Thing"},"@context":{"type":"string","format":"url","example":"\/context\/Entity"},"view":{"type":"object","properties":{"@id":{"type":"string","format":"url","example":"\/index"},"@type":{"type":"string","example":"PartialCollectionView"},"next":{"type":"string","format":"url","example":"\/index?page=:number"},"prev":{"type":"string","format":"url","example":"\/index?page=:number"},"first":{"type":"string","format":"url","example":"\/index"},"last":{"type":"string","format":"url","example":"\/index?page=:number"}}}}},"Generic-Collection":{"properties":{"collection":{"properties":{"url":{"example":"\/collection","type":"string","format":"url"},"count":{"example":50,"type":"integer"},"pages":{"example":20,"type":"integer"},"total":{"example":200,"type":"integer"},"next":{"example":"\/collection?page=:number","type":"string","format":"url"},"prev":{"example":"\/collection?page=:number","type":"string","format":"url"},"first":{"example":"\/collection?page=:number","type":"string","format":"url"},"last":{"example":"\/collection?page=:number","type":"string","format":"url"}},"type":"object"}},"type":"object","x-data-element":"data"}}}}}