{"openapi":"3.0.0","info":{"version":"2.0.9","title":"Car API Documentation","description":"Welcome to [CarAPIs vehicle API](https:\/\/carapi.app) documentation. The developer friendly Car API.\nStart developing with your vehicle API today — no fees, no signup. CarAPIs free vehicle data-set\nrequires no account. Only pay when you're ready to go live. The free data-set is limited to 2015-2020 vehicles.\nTo access the full data-set you may [signup here](https:\/\/carapi.app\/register) and then select a subscription plan.\n\n**Additional Documentation**\n\nFor additional documentation please review [https:\/\/carapi.app\/docs](https:\/\/carapi.app\/docs).\n\n**SDKs**\n\nPHP SDK: [https:\/\/github.com\/car-api-team\/carapi-php-sdk](https:\/\/github.com\/car-api-team\/carapi-php-sdk)\n\n**Release Updates**\n\nCheck release history here: [https:\/\/github.com\/car-api-team\/docs\/releases](https:\/\/github.com\/car-api-team\/docs\/releases)\n"},"servers":[{"url":"https:\/\/carapi.app"}],"tags":[{"name":"Auth"},{"name":"Years"},{"name":"Makes"},{"name":"Models"},{"name":"Sub Models"},{"name":"Trims"},{"name":"Vin Decoder"},{"name":"License Plate"},{"name":"Bodies"},{"name":"Engines"},{"name":"Mileages"},{"name":"Colors (Exterior)"},{"name":"Colors (Interior)"},{"name":"OBD Codes"},{"name":"Data Feeds"},{"name":"Vehicle Attributes"},{"name":"Account"}],"paths":{"\/api\/account\/requests":{"get":{"operationId":"account:requests:get","summary":"Get API Usage","description":"Returns the total requests made by your account since last month to rate-limited endpoints. All dates are\nreported using UTC\/GMT -5 (US Eastern Standard Time).","tags":["Account"],"parameters":[],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"items":{"properties":{"date":{"example":"2023-01-01","type":"string","format":"date"},"count":{"example":203,"type":"integer"}}},"type":"array"}}}},"500":{"description":"UnauthenticatedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/account\/requests-today":{"get":{"operationId":"account:requeststoday:get","summary":"Get Today's API Usage","description":"Returns the total requests made by your account today to rate-limited endpoints. All dates are\nreported using UTC\/GMT -5 (US Eastern Standard Time).","tags":["Account"],"parameters":[],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"count":{"example":42,"type":"integer"}},"type":"object"}}}},"500":{"description":"UnauthenticatedException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/auth\/login":{"post":{"operationId":"auth:api:post","summary":"JWT Login","description":"CarAPI uses JSON Web Tokens (JWT) to authenticate requests. You can generate a JWT using your API Token and\nAPI Secret in SwaggerUI (this page) with the following steps:\n\n- Click the \"Try Out\" button\n- Enter API Token and API Secret in the JSON payload.\n- Click Execute\n- A JWT will be returned if the credentials are correct\n- Next click the \"Authorize\" button at the top-right of Swagger UI (this page) and paste in the JWT.\n\nYour JWT will now be sent with any request you make in Swagger until you refresh the page.\n\nIn your application code, Postman or cURL, you will need to pass the token in the HTTP Header as:\n\n```\nAuthorization: Bearer {TOKEN_VALUE_HERE}\n```\n\nYou should cache your JWT to avoid having to authenticate on each request. You must check the token's\nexpiration value to determine when you need to generate a new token. Please refer to\n[https:\/\/jwt.io\/](https:\/\/jwt.io\/) to learn more about JSON Web Tokens.\n\nYour email address and password cannot be used to generate a JWT. You must use your API token and secret.\n\nIf you don't yet have API credentials you must first [register](\/register) and then generate a secret.\nUsers without a subscription will have limited data access.\n\nFor additional documentation please review [https:\/\/carapi.app\/docs](https:\/\/carapi.app\/docs).","tags":["Auth"],"requestBody":{"content":{"application\/json":{"schema":{"required":["api_token","api_secret"],"properties":{"api_token":{"example":"","type":"string"},"api_secret":{"example":"","type":"string"}},"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"","content":{"text\/plain":{"schema":{"type":"string"}}}},"400":{"description":"BadRequestException","content":{"text\/plain":{"schema":{"type":"string"}}}},"401":{"description":"Authentication Failed","content":{"text\/plain":{"schema":{"type":"string"}}}},"405":{"description":"MethodNotAllowedException","content":{"text\/plain":{"schema":{"type":"string"}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 20","content":{"text\/plain":{"schema":{"type":"string"}}}},"500":{"description":"ServiceUnavailableException","content":{"text\/plain":{"schema":{"type":"string"}}}},"503":{"description":"ServiceUnavailableException","content":{"text\/plain":{"schema":{"type":"string"}}}}}}},"\/api\/bodies":{"get":{"operationId":"makemodeltrimbodies:index:get","summary":"Search vehicle bodies (use \/api\/bodies\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/bodies\/v2**\n\nTo include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"doors\", \"op\": \">=\", \"val\": 4}, {\"field\": \"type\", \"op\": \"in\", \"val\": [\"SUV\",\"Van\"]}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `trim`, `type`, `doors`, `seats`, `length`, `width`, `height`, `wheel_base`, `front_track`, `rear_track`, `ground_clearance`, `cargo_capacity`, `max_cargo_capacity`, `curb_weight`, `gross_weight`, `max_payload`, `max_towing_capacity`, `make_model_trim_id`, `created`, `modified`, `make_id`, and `make_model_id`.","tags":["Bodies"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#bodies","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","type","doors","length","width","seats","height","wheel_base","front_track","rear_track","ground_clearance","cargo_capacity","max_cargo_capacity","curb_weight","gross_weight","max_payload","max_towing_capacity"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"doors","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimBody"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/bodies\/v2":{"get":{"operationId":"makemodeltrimbodies:index2:get","summary":"Search vehicle bodies","description":"The demo dataset contains model years 2015 - 2020. To access years 1900 - today please purchase\na [Premium Subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"doors\", \"op\": \">=\", \"val\": 4}, {\"field\": \"type\", \"op\": \"in\", \"val\": [\"SUV\",\"Van\"]}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `series`, `submodel`, `trim`, `description`, `make_id`, `model_id`, `submodel_id`, `trim_id`, `type`, `doors`, `seats`, `length`, `width`, `height`, `wheel_base`, `front_track`, `rear_track`, `ground_clearance`, `cargo_capacity`, `max_cargo_capacity`, `curb_weight`, `gross_weight`, `max_payload`, `max_towing_capacity`, `created`, and `modified`.","tags":["Bodies"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#bodies","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorSort"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"series","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"doors","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_id":{"type":"integer"},"model_id":{"type":"integer"},"submodel_id":{"type":"integer"},"trim_id":{"type":"integer"},"year":{"type":"integer"},"make":{"type":"string"},"model":{"type":"string"},"series":{"nullable":true,"type":"string"},"submodel":{"type":"string"},"trim":{"type":"string"},"trim_description":{"type":"string"},"type":{"minLength":1,"maxLength":32,"type":"string","description":"The body type, such as SUV or Sedan","enum":["Cargo Van","Convertible","Coupe","Ext Cargo Minivan","Ext Cargo Van","Ext Minivan","Ext Van","Hatchback","Minivan","Passenger Van","Sedan","SUV","Truck (Access Cab)","Truck (Cab Plus)","Truck (Club Cab)","Truck (Crew Cab)","Truck (CrewMax)","Truck (Double Cab)","Truck (Extended Cab)","Truck (King Cab)","Truck (Mega Cab)","Truck (Quad Cab)","Truck (Regular Cab)","Truck (SuperCab)","Truck (SuperCrew)","Truck (Xtracab)","Unknown","Van","Wagon"]},"doors":{"type":"integer","format":"int32","description":"Number of doors &mdash; generally including a hatchback as an additional door"},"length":{"type":"number","format":"float","description":"Total length (in inches) of the vehicle in inches"},"width":{"type":"number","format":"float","description":"Total width (in inches) of the vehicle"},"seats":{"type":"integer","format":"int32","description":"Number of passenger seats in the vehicle."},"height":{"type":"number","format":"float","description":"Total height (in inches) of the vehicle"},"wheel_base":{"type":"number","format":"float","description":"The horizontal distance (in inches) between the centers of the front and rear wheels"},"front_track":{"type":"number","format":"float","description":"The distance (in inches) between the centerline of the wheels"},"rear_track":{"type":"number","format":"float","description":"The distance (in inches) between the hub flanges on an axle"},"ground_clearance":{"type":"number","format":"float","description":"The distance (in inches) between the lowest point on the undersurface of the vehicle and the road"},"cargo_capacity":{"type":"number","format":"float","description":"The standard total cubic feet of space in a vehicles cargo area"},"max_cargo_capacity":{"type":"number","format":"float","description":"The maximum total cubic feet of space in a vehicles cargo area"},"curb_weight":{"type":"integer","format":"int64","description":"Curb weight refers to the vehicles heaviness (in pounds) without passengers or cargo, only counting the car itself along with necessary fluids like oil and coolant"},"gross_weight":{"type":"integer","format":"int64","description":"Gross weight (in pounds) considers all components—including passengers, cargo, and both the tow vehicle weight—if one is attached"},"max_payload":{"type":"integer","format":"int64","description":"Maximum weight in pounds that a vehicle can safely carry"},"max_towing_capacity":{"type":"integer","format":"int64","description":"Maximum weight in pounds that a vehicle can safely tow"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/data-feeds\/download":{"get":{"operationId":"datafeeds:download:get","summary":"Get Data Feed","description":"Returns a datafeed as a CSV compressed in a ZIP for download, you must subscribe to this product through your\ndashboard.","tags":["Data Feeds"],"externalDocs":{"url":"https:\/\/carapi.app\/sample-opendatafeed","description":""},"parameters":[],"responses":{"200":{"description":"","content":{"text\/plain":{"schema":{"type":"string","format":"file"}}}},"400":{"description":"BadRequestException","content":{"text\/plain":{"schema":{"type":"string"}}}},"401":{"description":"Authentication Failed","content":{"text\/plain":{"schema":{"type":"string"}}}},"403":{"description":"ForbiddenException","content":{"text\/plain":{"schema":{"type":"string"}}}},"405":{"description":"MethodNotAllowedException","content":{"text\/plain":{"schema":{"type":"string"}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"text\/plain":{"schema":{"type":"string"}}}},"500":{"description":"ServiceUnavailableException","content":{"text\/plain":{"schema":{"type":"string"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"503":{"description":"ServiceUnavailableException","content":{"text\/plain":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/data-feeds\/last-updated":{"get":{"operationId":"datafeeds:lastupdated:get","summary":"Data Feed Last Updated","description":"Returns last modified timestamp of the data feed. All times are United States Eastern Standard Time (EST).","tags":["Data Feeds"],"parameters":[],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"last_updated":{"example":"2023-01-01 12:00:00","type":"string","format":"date-time"}},"type":"object"}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/engines":{"get":{"operationId":"makemodeltrimengines:index:get","summary":"Search vehicle engines (use \/api\/engines\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/engines\/v2**\n\nTo include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"horsepower_hp\", \"op\": \">=\", \"val\": 100}, {\"field\": \"horsepower_hp\", \"op\": \"<=\", \"val\": 300}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `trim`, `fuel_type`, `engine_type`, `transmission`, `drive_type`, `cam_type`, `valve_timing`, `valves`, `horsepower_hp`, `size`, `cylinders`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Engines"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#engines","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","engine_type","fuel_type","cylinders","size","horsepower_hp","horsepower_rpm","torque_ft_lbs","torque_rpm","valves","valve_timing","cam_type","drive_type","transmission"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"cylinders","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"size","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"horsepower_hp","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valves","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valve_timing","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"cam_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"drive_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"transmission","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"engine_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"fuel_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimEngine"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/engines\/v2":{"get":{"operationId":"makemodeltrimengines:index2:get","summary":"Search vehicle engines","description":"The demo dataset contains model years 2015 - 2020. To access years 1900 - today please purchase\na [Premium Subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"horsepower_hp\", \"op\": \">=\", \"val\": 100}, {\"field\": \"horsepower_hp\", \"op\": \"<=\", \"val\": 300}]`\n\nSee `\/api\/vehicle-attributes` for a complete list of vehicle attributes.\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `series`, `submodel`, `trim`, `description`, `make_id`, `model_id`, `submodel_id`, `trim_id`, `fuel_type`, `engine_type`, `transmission`, `drive_type`, `cam_type`, `valve_timing`, `valves`, `horsepower_hp`, `size`, `cylinders`, `created`, and `modified`.","tags":["Engines"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#engines","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorSort"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"series","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"cylinders","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"size","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"horsepower_hp","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valves","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"valve_timing","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"cam_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"drive_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"transmission","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"engine_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"fuel_type","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_id":{"type":"integer"},"model_id":{"type":"integer"},"submodel_id":{"type":"integer"},"trim_id":{"type":"integer"},"year":{"type":"integer"},"make":{"type":"string"},"model":{"type":"string"},"series":{"nullable":true,"type":"string"},"submodel":{"type":"string"},"trim":{"type":"string"},"trim_description":{"type":"string"},"engine_type":{"maxLength":32,"type":"string","description":"Type of engine","enum":["diesel","electric","electric (fuel cell)","flex-fuel (FFV)","gas","hybrid","mild hybrid","natural gas (CNG)","plug-in hybrid"]},"fuel_type":{"maxLength":64,"type":"string","description":"The fuel the vehicle uses","enum":["diesel fuel","electric","flex-fuel (premium unleaded recommended\/E85)","flex-fuel (premium unleaded required\/E85)","flex-fuel (unleaded\/E85)","flex-fuel (unleaded\/natural gas)","hydrogen","midgrade unleaded (recommended)","natural gas","premium unleaded (recommended)","premium unleaded (required)","regular unleaded"]},"cylinders":{"maxLength":16,"type":"string","description":"How many cylinders the engine has","enum":["flat 4","flat 6","I2","I3","I4","I5","I6","rotary 0","V10","V12","V6","V8","W12","W16","W8"]},"size":{"type":"number","format":"float","description":"Total size of the engine in liters"},"horsepower_hp":{"type":"integer","format":"int64","description":"One horsepower equals 33,000 foot-pounds of work per minute"},"horsepower_rpm":{"type":"integer","format":"int64"},"torque_ft_lbs":{"type":"integer","format":"int64","description":"The torque (turning force) of the vehicle's engine."},"torque_rpm":{"type":"integer","format":"int64"},"valves":{"type":"integer","format":"int32","description":"Number of valves. The valves are installed in a part of the engine called the head and are responsible for letting air and\/or fuel into the cylinders to be combusted -- those are called intake valves -- and for letting the exhaust from that combustion out of the cylinders -- those are called exhaust valves."},"valve_timing":{"maxLength":32,"type":"string","description":"In a piston engine, the valve timing is the precise timing of the opening and closing of the valves. ","enum":["Variable"]},"cam_type":{"maxLength":64,"type":"string","description":"Camshafts are integral components of internal combustion engines, responsible for controlling the opening and closing of the engine's intake and exhaust valves.","enum":["Double overhead cam (DOHC)","Overhead valves (OHV)","Single overhead cam (SOHC)"]}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/exterior-colors":{"get":{"operationId":"makemodeltrimexteriorcolors:index:get","summary":"Search vehicle exterior colors (use \/api\/exterior-colors\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/exterior-colors\/v2**\n\nTo include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"name\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `trim`, `name`, `rgb`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Colors (Exterior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","name","rgb"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"name","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimExteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/exterior-colors\/v2":{"get":{"operationId":"makemodeltrimexteriorcolors:index2:get","summary":"Search vehicle exterior colors","description":"The demo dataset contains model years 2015 - 2020. To access years 1900 - today please purchase\na [Premium Subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"color\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `series`, `submodel`, `trim`, `description`, `make_id`, `model_id`, `submodel_id`, `trim_id`, `color`, `rgb`, `modified`, and `created`.","tags":["Colors (Exterior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorSort"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"series","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"color","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"type":"integer"},"make_id":{"type":"integer"},"model_id":{"type":"integer"},"submodel_id":{"type":"integer"},"trim_id":{"type":"integer"},"year":{"type":"integer"},"make":{"type":"string"},"model":{"type":"string"},"series":{"nullable":true,"type":"string"},"submodel":{"type":"string"},"trim":{"type":"string"},"trim_description":{"type":"string"},"color":{"type":"string"},"rgb":{"type":"string"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/interior-colors":{"get":{"operationId":"makemodeltriminteriorcolors:index:get","summary":"Search vehicle interior colors (use \/api\/interior-colors\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/interior-colors\/v2**\n\nTo include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"name\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `trim`, `name`, `rgb`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Colors (Interior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","name","rgb"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"name","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimInteriorColor"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/interior-colors\/v2":{"get":{"operationId":"makemodeltriminteriorcolors:index2:get","summary":"Search vehicle interior colors","description":"The demo dataset contains model years 2015 - 2020. To access years 1900 - today please purchase\na [Premium Subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"color\", \"op\": \"in\", \"val\": [\"red\", \"blue\"]}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `series`, `submodel`, `trim`, `description`, `make_id`, `model_id`, `submodel_id`, `trim_id`, `color`, `rgb`, `modified`, and `created`.","tags":["Colors (Interior)"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#colors","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorSort"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"series","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"color","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"rgb","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"type":"integer"},"make_id":{"type":"integer"},"model_id":{"type":"integer"},"submodel_id":{"type":"integer"},"trim_id":{"type":"integer"},"year":{"type":"integer"},"make":{"type":"string"},"model":{"type":"string"},"series":{"nullable":true,"type":"string"},"submodel":{"type":"string"},"trim":{"type":"string"},"trim_description":{"type":"string"},"color":{"type":"string"},"rgb":{"type":"string"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/license-plate":{"get":{"operationId":"licenseplate:index:get","summary":"License Plate Lookup","description":"Returns information about the vehicle and the Vehicle Identification Number (VIN) associated to the license\nplate. Data requirements around the region parameter differ based on the country_code you are requesting data\nfor. Refer to https:\/\/carapi.app\/docs\/ for additional documentation. Each country makes available different data\nso depending on the country requested some values may be returned as null.\n\nFor testing, any lookup containing the string \"#TEST\" will return test data. Example:\n\n- United States: `\/api\/license-plate?country_code=US&region=NY&lookup=830UNL#TEST`\n- Canada: `\/api\/license-plate?country_code=CA&region=BC&lookup=#TEST`\n- United Kingdom: `\/api\/license-plate?country_code=UK&lookup=#TEST-LD59YMR`\n\nThe following countries are currently supported: US, CA, AU, UK, FR, IE, NZ, MX, DE, CZ and PT","tags":["License Plate"],"externalDocs":{"url":"https:\/\/carapi.app\/docs\/","description":""},"parameters":[{"in":"query","name":"country_code","description":"ISO 3166-1 alpha-2 country code (two letters)","required":true,"schema":{"type":"string"}},{"in":"query","name":"lookup","description":"The license plate (registration in some countries) to lookup","required":true,"schema":{"type":"string"}},{"in":"query","name":"region","description":"Province, region or state (required for US, CA and AU)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"year":{"nullable":true,"type":"integer","description":"Returned for all countries except for Germany"},"make":{"type":"string"},"model":{"type":"string"},"body":{"nullable":true,"type":"string"},"vin":{"nullable":true,"type":"string","description":"Returned for all countries except for Ireland"},"engine_description":{"nullable":true,"type":"string"},"assembled_in":{"nullable":true,"type":"string"}},"type":"object"}}}},"404":{"description":"NotFoundException","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Exception"}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/makes":{"get":{"operationId":"makes:index:get","summary":"Get makes for light duty cars, trucks and vans (use \/api\/makes\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/makes\/v2**\n\nSearch makes by name and year.","tags":["Makes"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["Makes.name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/Make"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/makes\/powersports":{"get":{"operationId":"makes:powersports:get","summary":"Get makes for street motorcycles","description":"The demo dataset contains makes which produced vehicles between years 2015 - 2020. To access years 1900 - today\nplease purchase a [subscription](\/pricing\/power-sports). You must include a valid JWT in the header once you\nhave purchased a subscription otherwise you will continue to receive the demo dataset.\n\nSearch makes by name and year for all makes sold in the United States from the 1930s onwards.","tags":["Makes"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["Makes.name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"type","required":true,"schema":{"type":"string","enum":["street_motorcycle"]}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/makes\/v2":{"get":{"operationId":"makes:index2:get","summary":"Get makes for light duty cars, trucks, vans, and SUVs.","description":"The demo dataset contains makes which sold vehicles between years 2015 - 2020. To access years 1900 - today\nplease purchase a [subscription](\/pricing). You must include a valid JWT in the header once you have purchased a\nsubscription otherwise you will continue to receive the demo dataset.","tags":["Makes"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["Makes.name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/mileages":{"get":{"operationId":"makemodeltrimmileages:index:get","summary":"Search vehicle mileages (use \/api\/mileages\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/mileages\/v2**\n\nTo include additional information about the returned body (such as year, make, model and trim) request with the\nquery parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"combined_mpg\", \"op\": \">=\", \"val\": 20}, {\"field\": \"combined_mpg\", \"op\": \"<=\", \"val\": 30}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `trim`, `fuel_tank_capacity`, `combined_mpg`, `epa_city_mpg`, `epa_highway_mpg`, `range_city`, `range_highway`, `epa_combined_mpg_electric`, `epa_city_mpg_electric`, `epa_highway_mpg_electric`, `range_electric`, `epa_kwh_100_mi_electric`, `epa_time_to_charge_hr_240v_electric`, `battery_capacity_electric`, `created`, `modified`, `make_id`, `make_model_id`, and `make_model_trim_id`.","tags":["Mileages"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#mileages","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_model_trim_id","fuel_tank_capacity","combined_mpg","epa_city_mpg","epa_highway_mpg","range_city","range_highway","battery_capacity_electric","epa_time_to_charge_hr_240v_electric","epa_kwh_100_mi_electric","range_electric","epa_highway_mpg_electric","epa_city_mpg_electric","epa_combined_mpg_electric"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make, model and trim","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"combined_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_city_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_highway_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_city","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_highway","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModelTrimMileage"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/mileages\/v2":{"get":{"operationId":"makemodeltrimmileages:index2:get","summary":"Search vehicle mileages","description":"The demo dataset contains model years 2015 - 2020. To access years 1900 - today please purchase\na [Premium Subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"combined_mpg\", \"op\": \">=\", \"val\": 20}, {\"field\": \"combined_mpg\", \"op\": \"<=\", \"val\": 30}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `series`, `submodel`, `trim`, `description`, `make_id`, `model_id`, `submodel_id`, `trim_id`, `fuel_tank_capacity`, `combined_mpg`, `epa_city_mpg`, `epa_highway_mpg`, `range_city`, `range_highway`, `epa_combined_mpg_electric`, `epa_city_mpg_electric`, `epa_highway_mpg_electric`, `range_electric`, `epa_kwh_100_mi_electric`, `epa_time_to_charge_hr_240v_electric`, `battery_capacity_electric`, `created`, and `modified`.","tags":["Mileages"],"externalDocs":{"url":"https:\/\/carapi.app\/features\/json-api-specs#mileages","description":"Documentation"},"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorSort"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"series","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"model_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"submodel_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make_model_trim_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"combined_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_city_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"epa_highway_mpg","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_city","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"range_highway","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","properties":{"id":{"minLength":1,"type":"integer","format":"int64","readOnly":true},"make_id":{"type":"integer"},"model_id":{"type":"integer"},"submodel_id":{"type":"integer"},"trim_id":{"type":"integer"},"year":{"type":"integer"},"make":{"type":"string"},"model":{"type":"string"},"series":{"nullable":true,"type":"string"},"submodel":{"type":"string"},"trim":{"type":"string"},"trim_description":{"type":"string"},"fuel_tank_capacity":{"type":"number","format":"float","description":"How much fuel the vehicle holds (gallons)"},"combined_mpg":{"type":"integer","format":"int32","description":"Combined fuel economy is a weighted average of City and Highway MPG values that is calculated by weighting the City value by 55% and the Highway value by 45%."},"epa_city_mpg":{"type":"integer","format":"int32","description":"Miles per gallon for city driving"},"epa_highway_mpg":{"type":"integer","format":"int32","description":"Miles per gallon for highway driving"},"range_city":{"type":"integer","format":"int32","description":"Total range in miles on a full tank for city driving"},"range_highway":{"type":"integer","format":"int32","description":"Total range in miles on a full tank for highway driving"},"battery_capacity_electric":{"minLength":1,"type":"integer","format":"int32","description":"Total capacity of the battery kWh"},"epa_time_to_charge_hr_240v_electric":{"type":"number","format":"float","description":"How long it takes to charge an EV battery"},"epa_kwh_100_mi_electric":{"type":"integer","format":"int32","description":"kWh used to drive 100 miles for an electric vehicle"},"range_electric":{"type":"integer","format":"int32","description":"Range for electric vehicles in miles"},"epa_highway_mpg_electric":{"type":"integer","format":"int32","description":"MPG equivalent for driving electric vehicles on the highway"},"epa_city_mpg_electric":{"type":"integer","format":"int32","description":"MPG equivalent for driving electric vehicles in the city"},"epa_combined_mpg_electric":{"type":"integer","format":"int32","description":"MPG equivalent for electric vehicles"}}},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/models":{"get":{"operationId":"makemodels:index:get","summary":"Get Models for light duty cars, trucks and vans (use \/api\/models\/v2 instead)","description":"**We encourage users to begin migrating to \/api\/models\/v2**\n\nSearch models by year, make, model, trim or make_id.\n\nTo include the models make in the description request with the query parameter as `verbose=yes`.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"make\", \"op\": \"in\", \"val\": [\"Ford\", \"Acura\"]}, {\"field\": \"year\", \"op\": \">=\", \"val\": 2010}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `make_id`, `created`, `modified`, and `bodies.type`.","tags":["Models"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["id","make_id","name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"verbose","description":"Includes make and model","required":false,"schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"JsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/MakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}],"deprecated":true}},"\/api\/models\/powersports":{"get":{"operationId":"oemmakemodels:powersports:get","summary":"Get models for street motorcycles","description":"The demo dataset contains models sold between years 2015 - 2020. To access years 1930 - today please purchase a\n[subscription](\/pricing\/power-sports). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"make\", \"op\": \"in\", \"val\": [\"Kawasaki\", \"Harley Davidson\"]}, {\"field\": \"year\", \"op\": \">=\", \"val\": 2010}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `make_id`, `created`, and `modified`.","tags":["Models"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["OemMakeModels.name","Makes.name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"type","required":true,"schema":{"type":"string","enum":["street_motorcycle"]}},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"OemJsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/OemMakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/models\/v2":{"get":{"operationId":"oemmakemodels:index:get","summary":"Get Models for light duty cars, trucks, vans and SUVs.","description":"The demo dataset contains models sold between years 2015 - 2020. To access years 1900 - today please purchase a\n[subscription](\/pricing). You must include a valid JWT in the header once you have\npurchased a subscription otherwise you will continue to receive the demo dataset.\n\nFor complex queries you may use the json field to send an array of URL encoded JSON conditions, example:\n\n`[{\"field\": \"make\", \"op\": \"in\", \"val\": [\"Ford\", \"Acura\"]}, {\"field\": \"year\", \"op\": \">=\", \"val\": 2010}]`\n\nJSON operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `in`, `not in`, `like`, `not like`, `not null`, and `is null`.\n\nJSON search fields:\n `year`, `make`, `model`, `make_id`, `created`, and `modified`.","tags":["Models"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["OemMakeModels.name","Makes.name"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"year","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"make","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"model","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"make_id","required":false,"schema":{"type":"string","description":"Value"}},{"in":"query","name":"json","required":false,"schema":{"type":"string","description":"OemJsonSearchFilter"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/OemMakeModel"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 (note: daily rate limits may apply, see your subscription plans details)","type":"string"}}}}}},"503":{"description":"ServiceUnavailableException","content":{"application\/json":{"schema":{"title":"ServiceUnavailableException","properties":{"exception":{"example":"ServiceUnavailableException","type":"string"},"code":{"example":503,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The server is unavailable, typically only encountered during scheduled maintenance.","type":"string"}}}}}}},"security":[{"bearerAuth":[]}]}},"\/api\/obd-codes":{"get":{"operationId":"obdcodes:index:get","summary":"Get OBD-II Codes","description":"Perform wildcard searches by code or description. For non-subscribers the results are limited to one code per category.\n\nThere are four different types of OBD-II codes (P, B, C, and U):\n\n- P: Power train (engine and transmission) systems\n- B: Body\n- C: Chassis\n- U: Network and wiring systems.","tags":["OBD Codes"],"parameters":[{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorPage"},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorLimit"},{"in":"query","name":"sort","required":false,"schema":{"type":"string","enum":["code","description"]}},{"$ref":"#\/x-swagger-bake\/components\/parameters\/paginatorDirection"},{"in":"query","name":"code","required":false,"schema":{"type":"string","description":"Like"}},{"in":"query","name":"description","required":false,"schema":{"type":"string","description":"Like"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"properties":{"data":{"items":{"type":"object","allOf":[{"$ref":"#\/components\/schemas\/ObdCode"}]},"type":"array"}},"allOf":[{"$ref":"#\/x-swagger-bake\/components\/schemas\/Generic-Collection"}]}}}},"400":{"description":"BadRequestException","content":{"application\/json":{"schema":{"title":"BadRequestException","properties":{"exception":{"example":"BadRequestException","type":"string"},"code":{"example":400,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The request contains invalid data. The returned error message should indicate the issue.","type":"string"}}}}}},"405":{"description":"MethodNotAllowedException","content":{"application\/json":{"schema":{"title":"MethodNotAllowedException","properties":{"exception":{"example":"MethodNotAllowedException","type":"string"},"code":{"example":405,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"The HTTP method used to request this resource is not valid. For example, using an HTTP POST  when the endpoint only accepts HTTP GET.","type":"string"}}}}}},"429":{"description":"TooManyRequestsException - Max Per Minute: 600","content":{"application\/json":{"schema":{"title":"TooManyRequestsException","properties":{"exception":{"example":"TooManyRequestsException","type":"string"},"code":{"example":429,"type":"string"},"url":{"example":"\/url\/path","type":"string"},"message":{"example":"TooManyRequestsException - Max Per Minute: 600 
[...]
